In [1]:
a=[{'year': '2014', 'product': 'Petrol', 'sale': 283567},
  {'year': '2013', 'product': 'Petrol', 'sale': 283234},
  {'year': '2012', 'product': 'Petrol', 'sale': 283527},
  {'year': '2011', 'product': 'Petrol', 'sale': 283567},
  {'year': '2010', 'product': 'Petrol', 'sale': 283567},
  {'year': '2009', 'product': 'Petrol', 'sale': 283567},
  {'year': '2008', 'product': 'Petrol', 'sale': 283567},
  {'year': '2007', 'product': 'Petrol', 'sale': 283567},]

In [2]:
year1=['2014','2013','2012','2011']
year2=['2010','2009','2008','2007']

In [11]:
result=[]
sum1=0
sum2=0
a1={}
a2={}
n=0
m=0
for i in a:
    if i['product']=='Petrol':
        a1['product'] = 'Petrol'
        a2['product'] = 'Petrol'
        if i['year'] in year1:
            n = n+1
            a1['year']= '2011-2014'
            sum1 = sum1+i['sale']
            average = sum1/n
            a1['average'] = average
        
        if i['year'] in year2:
            a2['year']= '2007-2010'
            sum2 = sum2+i['sale']
            a2['sum'] = sum2
result.append(a1)
result.append(a2)
print(result)
print(sum1)
print(sum2)

[{'product': 'Petrol', 'year': '2011-2014', 'average': 283473.75}, {'product': 'Petrol', 'year': '2007-2010', 'sum': 1134268}]
1133895
1134268

In [10]:
1133895/4

283473.75

In [12]:
import pandas as pd

In [14]:
sus=pd.DataFrame(a)

In [15]:
sus

   year product    sale
0  2014  Petrol  283567
1  2013  Petrol  283234
2  2012  Petrol  283527
3  2011  Petrol  283567
4  2010  Petrol  283567
5  2009  Petrol  283567
6  2008  Petrol  283567
7  2007  Petrol  283567

In [25]:
sus['year'].values

array(['2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007'],
      dtype=object)

In [ ]:
import numpy as np

np.whereyea(sus['year'].value in )