In [1]:
import pandas as pd

#### Here since there are many values in categorical feature so doing one hot encoding might not be good option looking towards curse of dimensionality. So, one team used the process of only encoding top 10 and dropping all other value under categorical feature.

In [8]:
data = pd.read_csv('mercedes.csv',usecols=['X0','X1','X2','X3','X4','X5','X6'])

In [9]:
data.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [11]:
for i in data.columns:
    print(len(data[i].unique()))

47
27
44
7
4
29
12

In [15]:
data.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [17]:
lst_10=data.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)

In [18]:
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [21]:
import numpy as np
for categories in lst_10:
    data[categories]=np.where(data['X1']==categories,1,0)

In [22]:
lst_10.append('X1')

In [23]:
data[lst_10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]